.card-title {
  align-self: stretch;
  color: var(--color-slate-900, #1f314f);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: var(--font-size-text-preset-1, 22px);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.card-text {
  align-self: stretch;
  color: var(--color-slate-500, #68778d);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: var(--font-size-text-preset-2, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
  letter-spacing: 0.2px;
}

body {
    background-color: lightgray;
}

img {
    width: 288px;
    height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
